services:
  db:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: erviewer
    ports:
      - "30177:3306"
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql