openapi: 3.0.0
info:
  title: ER Viewer API
  version: 0.0.0
tags: []
paths:
  /api/build-info:
    get:
      operationId: API_getBuildInfo
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildInfo'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/data/all:
    post:
      operationId: API_saveAllData
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AllData'
    get:
      operationId: API_getAllData
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllData'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/er-data:
    get:
      operationId: API_getERData
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ERData'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/layout:
    post:
      operationId: API_saveLayout
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LayoutData'
    get:
      operationId: API_getLayout
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayoutData'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/reverse-engineer:
    post:
      operationId: API_reverseEngineer
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ERData'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/table/{tableName}/ddl:
    get:
      operationId: API_getTableDDL
      parameters:
        - name: tableName
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DDLResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    AllData:
      type: object
      required:
        - erData
        - layoutData
      properties:
        erData:
          type: object
          allOf:
            - $ref: '#/components/schemas/ERData'
          nullable: true
        layoutData:
          $ref: '#/components/schemas/LayoutData'
    BuildInfo:
      type: object
      required:
        - version
        - name
        - buildTime
        - buildDate
        - git
      properties:
        version:
          type: string
        name:
          type: string
        buildTime:
          type: string
        buildDate:
          type: string
        git:
          type: object
          properties:
            commit:
              type: string
            commitShort:
              type: string
            branch:
              type: string
          required:
            - commit
            - commitShort
            - branch
    Column:
      type: object
      required:
        - name
        - type
        - nullable
        - key
        - default
        - extra
      properties:
        name:
          type: string
        type:
          type: string
        nullable:
          type: boolean
        key:
          type: string
        default:
          type: string
          nullable: true
        extra:
          type: string
    DDLResponse:
      type: object
      required:
        - ddl
      properties:
        ddl:
          type: string
    ERData:
      type: object
      required:
        - entities
        - relationships
      properties:
        entities:
          type: array
          items:
            $ref: '#/components/schemas/Entity'
        relationships:
          type: array
          items:
            $ref: '#/components/schemas/Relationship'
    Entity:
      type: object
      required:
        - name
        - columns
        - foreignKeys
        - ddl
      properties:
        name:
          type: string
        columns:
          type: array
          items:
            $ref: '#/components/schemas/Column'
        foreignKeys:
          type: array
          items:
            $ref: '#/components/schemas/ForeignKey'
        ddl:
          type: string
    EntityLayout:
      type: object
      required:
        - x
        - y
      properties:
        x:
          type: number
          format: double
        y:
          type: number
          format: double
    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: string
    ForeignKey:
      type: object
      required:
        - column
        - referencedTable
        - referencedColumn
        - constraintName
      properties:
        column:
          type: string
        referencedTable:
          type: string
        referencedColumn:
          type: string
        constraintName:
          type: string
    LayoutData:
      type: object
      required:
        - entities
        - rectangles
        - texts
      properties:
        entities:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/EntityLayout'
        rectangles:
          type: array
          items:
            $ref: '#/components/schemas/Rectangle'
        texts:
          type: array
          items:
            $ref: '#/components/schemas/Text'
    Rectangle:
      type: object
      required:
        - id
        - x
        - y
        - width
        - height
        - fill
        - stroke
      properties:
        id:
          type: string
        x:
          type: number
          format: double
        y:
          type: number
          format: double
        width:
          type: number
          format: double
        height:
          type: number
          format: double
        fill:
          type: string
        stroke:
          type: string
    Relationship:
      type: object
      required:
        - from
        - fromColumn
        - to
        - toColumn
        - constraintName
      properties:
        from:
          type: string
        fromColumn:
          type: string
        to:
          type: string
        toColumn:
          type: string
        constraintName:
          type: string
    SuccessResponse:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
    Text:
      type: object
      required:
        - id
        - x
        - y
        - content
        - fontSize
        - fill
      properties:
        id:
          type: string
        x:
          type: number
          format: double
        y:
          type: number
          format: double
        content:
          type: string
        fontSize:
          type: number
          format: double
        fill:
          type: string
